{% render 'views/partials/head.liquid', title: 'PokeApp' %}

<body id="body-index">

{% render 'views/partials/nav.liquid' %}

<main id="overview">
       

    {% for p in pokemons %}

        <a href="/pokemon/{{ forloop.index }}" id="a-head">
            <article id="type-{{ p.type | downcase }}" class="article-head">

                {% comment %} caught pokemon {% endcomment %}
                <div class="pokeball">
                    {% if caught %}
                    <form method="POST" action="/pokemon/{{ id }}/caught" data-enhanced="pokemon-{{ id }}">
                    <img src="../assets/general/caught.png" alt="Pokeball caught">
                    </form>
                    {% comment %} Als de pokemon nog niet is gevangen {% endcomment %}
                    {% else %} 
                    <form method="POST" action="/pokemon/{{ id }}/caught" data-enhanced="formulier-{{ id }}">
                    <img src="../assets/general/uncaught.png" alt="Pokeball uncaught">
                    </form>
                    {% endif %}
                </div>


                <img id="img-head-hover"
                    src="{{ p.sprite }}" 
                    height="100" 
                    width="100" 
                    alt="{{ p.name }}"
                    onclick="playAudio()"
                    aria-hidden="true"
                >

                <div id="animation-hover">
                    <img src="../assets/general/balloon.svg" alt="ballon-{{ p.name }}" width="200" height="100" loading="lazy">
                    <p id="name {{ p.name }}"> {{ p.name | capitalize }}</p>
                </div>
                
            </article>
        </a>
{% endfor %}


</main>

<video autoplay muted loop id="video-bg">
    <source src="../assets/general/pokemon-background.mp4" type="video/mp4">
</video>

<video autoplay muted loop id="video-bg-night">
    <source src="../assets/general/pokemon-background-night.mp4" type="video/mp4">
</video>

</body>

</html>