{% render 'views/partials/head.liquid', title: 'PokeApp' %}

<body id="body-index">

{% render 'views/partials/nav.liquid' %}

<main id="overview">

    {% for p in pokemons %}
        <a href="/pokemon/{{ forloop.index }}" id="a-head">
        <article id="type-{{ p.type | downcase }}" class="article-head">

        {% comment %} caught pokemon {% endcomment %}
        {% if caught %}
        <form method="POST" action="/pokemon/{{ id }}/caught" data-enhanced="pokemon-{{ id }}">
            <img src="..assets/general/caught.png" width="10" height="10">
        </form>
        {% else %}
        {% comment %} als niet in gevangen {% endcomment %}
            <form method="POST" action="/pokemon/{{ id }}/caught" data-enhanced="formulier-{{ id }}">
            <img src="..assets/general/uncaught.png" width="10" height="10">
        </form>
        {% endif %}

        <h2 id="name {{ p.name }}" class="name-head">{{ p.name | capitalize }}</h2>
        <img 
            src="{{ p.sprite }}" 
            height="100" 
            width="100" 
            alt="{{ p.name }}"
            onclick="playAudio()"
            aria-hidden="true"
            >
            
            {% comment %} deze moet opgelost worden {% endcomment %}
            <audio>
                <source src="../assets/general/cries_pokemon_latest_7.ogg" typ="audio/ogg" id="audio">
            </audio>

        </article>
        </a>
{% endfor %}

{% render 'views/partials/load-more.liquid' %}




</main>

<video autoplay muted loop id="video-bg">
    <source src="../assets/general/pokemon-background.mp4" type="video/mp4">
</video>

<video autoplay muted loop id="video-bg-night">
    <source src="../assets/general/pokemon-background-night.mp4" type="video/mp4">
</video>



    <script src="../script/audio.js" defer></script>


</body>
</html>