{% render 'views/partials/head.liquid', title: ' {{ pokemon.name }} ' %}

<a href="/"> Go back </a>

</article>
    <h2> {{ pokemon.name |  upcase }}</h2>
    <img 
    src="{{ pokemon.front }}" 
    height="200" 
    width="200" 
    alt="{{ pokemon.name }} front">

    <img 
    src="{{ pokemon.back }}" 
    height="200" 
    width="200" 
    alt="{{ pokemon.name }} back">
</article>