{% render 'views/partials/head.liquid', title: ' {{ pokemon.name }} ' %}

{% render 'views/partials/go-back.liquid' %}

<body id="body-index-2">

<div id="pokemon-detail">
    <article id="type-{{ pokemon.type | downcase }}" class="detail-article"> 
        <div id="header-article">
            <img 
                src="{{ pokemon.sprite }}" 
                alt="{{ pokemon.name }}-front"
                height="200"
                width="200"
                id="pokemon-avatar">
            <h2 id="pokemon-name"> {{ pokemon.name |  upcase }}</h2>
            <p id="pokemon-id"> {{ pokemon.id }} </p>

            {% comment %} svg element voor XP (silohette idee) {% endcomment %}
             <div id="pokemon-xp">
                <img 
                src="{{ pokemon.gif }}" 
                alt="{{ pokemon.name }}-front"
                width="100"
                height="100"
                id="pokemon-xp-avatar"
                loading="lazy">
                <p id="pokemon-xp-text"> {{ pokemon.xp }} </p>

             </div>

             <div id="pokemon-weight">
                <img 
                src="../assets/detail/weight.gif" 
                alt="{{ pokemon.name }}-front"
                width="100"
                height="100"
                loading="lazy"
                id="pokemon-xp-avatar">
                
                <p id="pokemon-weight-text"> {{ pokemon.weight }} KG </p>
             </div>
            

             <div id="pokemon-length">
                <img 
                src="../assets/detail/length.gif" 
                alt="{{ pokemon.name }}-front"
                width="100"
                loading="lazy"
                height="100"
                id="pokemon-xp-avatar">
                <p id="pokemon-length-text"> {{ pokemon.height }} CM </p>
             </div>


                {% comment %} moet een manier komen om de types te late zien die bij de pokemon past {% endcomment %}
            <div id="pokemon-type">
            {% for type in pokemon.types %}
                <img 
                        src="../assets/detail/types/type-{{ type.type.name }}.png" 
                        height="50" 
                        width="50" 
                        alt="pokemon-type-{{ type.type.name }}"
                        class="pokemon-type {{ type.type.name }}">
            {% endfor %}
            </div>

            <div id="pokemon-ability">
                {% comment %} abilities worden hier getoond {% endcomment %}
                    <ul>
                        {% for ability in pokemon.abilities %}
                            <li>{{ ability.ability.name }}</li>
                        {% endfor %}
                    </ul>
            </div>
        </div>

        <div id="progressbar-article">
                <div id="pokemon-textfield">
                    <label for="progressbar_HP"> HP </label>
                    <label> {{ pokemon.hp }} </label>
                </div>

                <progress id="progressbar_HP" class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.hp }}" max="100"> {{ pokemon.hp }} </progress>

                <div id="pokemon-textfield">
                    <label for="progressbar_attack"> Attack </label>
                    <label> {{ pokemon.attack }} </label>
                </div>

                <progress id="progressbar_attack" class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.attack }}" max="100"> {{ pokemon.attack }} </progress>

                <div id="pokemon-textfield">
                    <label for="progressbar_defense"> Defense </label>
                    <label> {{ pokemon.defense }} </label>
                </div>

                <progress id="progressbar_defense" class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.defense }}" max="100"> {{ pokemon.defense }} </progress>

                <div id="pokemon-textfield">
                    <label for="progressbar_special_attack"> Special Attack </label>
                    <label> {{ pokemon.special_attack }} </label>
                </div>

                <progress id="progressbar_special_attack" class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.special_attack }}" max="100"> {{ pokemon.special_attack }} </progress>

                <div id="pokemon-textfield">
                    <label for="progressbar_special_defense"> Special Defense </label>
                    <label> {{ pokemon.special_defense }} </label>
                </div>
                
                <progress id="progressbar_special_defense" class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.special_defense }}" max="100"> {{ pokemon.special_defense }} </progress>

                <div id="pokemon-textfield">
                    <label for="progressbar_speed"> Speed </label>
                    <label> {{ pokemon.speed }} </label>
                </div>

                <progress id="progressbar_speed"  class="progress-type-{{ pokemon.type | downcase }}" value="{{ pokemon.speed }}" max="200"> {{ pokemon.speed }} </progress>
        </div>
        
        <div id="evolutionbar-article"> {% assign first = EvolutionChain.first %}
          {% if first %}
          <div id="first-evolution"
               class="fe-type{{ first.type }}{% if EvolutionChain.activeState == 'first' %} active{% endif %}">
            {% if EvolutionChain.activeState != 'first' %}
              <a href="/pokemon/{{ first.name }}">
                <img 
                src="{{ first.image }}" 
                alt="{{ first.name }}"
                height="200"
                width="200"
                id="img-evolution">
              </a>
  
              <div id="animation-hover-2">
                <img src="../assets/general/balloon.svg" alt="ballon-{{ first.name }}" width="200" height="200" loading="lazy">
                <p id="name {{ first.name }}"> {{ first.name | capitalize }}</p>
              </div>
              
            {% else %}
                  <img 
                  src="{{ first.image }}" 
                  alt="{{ first.name }}"
                  height="200"
                  width="200"
                  id="img-evolution">
  
                  <div id="animation-hover-2">
                    <img src="../assets/general/balloon.svg" alt="ballon-{{ first.name }}" width="200" height="200" loading="lazy">
                    <p id="name {{ first.name }}"> {{ first.name | capitalize }}</p>
                  </div>
  
            {% endif %}
          </div>
          {% endif %}
        
          {% assign second = EvolutionChain.second %}
          {% if second %}
          <div id="second-evolution"
               class="fe-type{{ second.type }}{% if EvolutionChain.activeState == 'second' %} active{% endif %}">
            {% if EvolutionChain.activeState != 'second' %}
              <a href="/pokemon/{{ second.name }}">
                <img src="{{ second.image }}" alt="{{ second.name }}" id="img-evolution">
  
                <div id="animation-hover-2">
                  <img src="../assets/general/balloon.svg" alt="ballon-{{ second.name }}" width="200" height="200" loading="lazy">
                  <p id="name {{ second.name }}"> {{ second.name | capitalize }}</p>
                </div>
  
              </a>
            {% else %}
              <img src="{{ second.image }}" alt="{{ second.name }}" id="img-evolution">
  
              <div id="animation-hover-2">
                <img src="../assets/general/balloon.svg" alt="ballon-{{ second.name }}" width="200" height="200" loading="lazy">
                <p id="name {{ second.name }}"> {{ second.name | capitalize }}</p>
              </div>
  
            {% endif %}
          </div>
          {% endif %}
        
          {% assign third = EvolutionChain.third %}
          {% if third %}
          <div id="third-evolution"
               class="fe-type{{ third.type }}{% if EvolutionChain.activeState == 'third' %} active{% endif %}">
            {% if EvolutionChain.activeState != 'third' %}
              <a href="/pokemon/{{ third.name }}">
                <img src="{{ third.image }}" alt="{{ third.name }}" id="img-evolution">
  
                {% comment %} animation {% endcomment %}
                <div id="animation-hover-2">
                  <img src="../assets/general/balloon.svg" alt="ballon-{{ third.name }}" width="200" height="200" loading="lazy">
                  <p id="name {{ third.name }}"> {{ third.name | capitalize }}</p>
                </div>
  
              </a>
            {% else %}
              <img src="{{ third.image }}" alt="{{ third.name }}" id="img-evolution">
  
                <div id="animation-hover-2">
                  <img src="../assets/general/balloon.svg" alt="ballon-{{ third.name }}" width="200" height="200" loading="lazy">
                  <p id="name {{ third.name }}"> {{ third.name | capitalize }}</p>
                </div>
  
            {% endif %}
          </div>
          {% endif %}</div>


        </div>
    </article>
</div>

{% render 'views/partials/darkmode.liquid' %}

<picture autoplay muted loop id="video-bg">
    <img src="../assets/general/day.png" alt="day pokemon background" width="1920" height="1080">
</picture>

<picture autoplay muted loop id="video-bg-night">
    <img src="../assets/general/night.png" alt="night pokemon background" width="1920" height="1080">
</picture>

</body>